{% extends "SiteActivityBundle::layout.html.twig" %}

{% block activities_body %}
	{{ activity.name }}
	<br>
	{{ activity.description }}
	<br>
	{% if activity.subject %}
		<a href="{{ path('sonata_media_download', {'id': activity.subject|sonata_urlsafeid }) }}">{{ activity.subject }}</a>
	{% endif %}
	<br>
	{{ activity.places }}
	<br>
	{{ activity.start|localizeddate("medium", "short") }}
	<br>
	{{ activity.end|localizeddate("medium", "short") }}
	<br>
	{{ activity.startRegistration|localizeddate("medium", "short") }}
	<br>
	{{ activity.endRegistration|localizeddate("medium", "short") }}
	<br>
	{% if activity.sizeMin != activity.sizeMax %}
		{{ activity.sizeMin }} | {{ activity.sizeMax }}
	{% else %}
		{{ activity.sizeMin }}
	{% endif %}
	<br>
	{{ activity.peers }}
	<br>
	{{ activity.type }}
	<br>
	{{ activity.module.name }}
	<br>
	{% if app.user in activity.module.students %}
		{% if date() < activity.startregistration or date() > activity.endregistration %}
			Vous ne pouvez pas encore vous inscrire à ce projet.
		{% else %}
			{% if app.user in activity.students %}
				<a href="{{ path('site_activities_activity_registration', {'id': activity.id }) }}">Se désincrire</a>
			{% else %}
				<a href="{{ path('site_activities_activity_registration', {'id': activity.id }) }}">S'inscrire</a>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}
