{% extends "SiteActivityBundle::layout.html.twig" %}

{% block activities_body %}
	<div class="ui grid">
		<div class="row">
			<div class="column">
				<div class="segment">
					<h3 class="ui dividing header">
						<i class="file outline icon"></i>
						{{ activity.name }}
					</h3>
					{% if date() < activity.startregistration %}
							<h4 class="ui error message centered">
							{{ 'ACTIVITY_REGISTRATION_EARLY'|trans }}
						</h4>
					{% elseif date() > activity.endregistration %}
						<h4 class="ui error message centered">
							{{ 'ACTIVITY_REGISTRATION_LATE'|trans }}
						</h4>
					{% endif %}

					{% set d_total = (activity.endCorrection|date("U") - activity.startRegistration|date("U"))|date("U") %}
					{% set d_gap = (activity.start|date("U") - activity.endRegistration|date("U"))|date("U") %}
					{% set d_inscription = (activity.endRegistration|date("U") - activity.startRegistration|date("U"))|date("U")  %}
					{% set d_activity = (activity.end|date("U") - activity.start|date("U"))|date("U")  %}
					{% set d_correction = (activity.endCorrection|date("U") - activity.startCorrection|date("U"))|date("U")  %}


					{% set d_today = ("now"|date("U") - activity.startRegistration|date("U")) * 100 / d_total %}
					{% if d_today >= 0 and d_today <= 100 %}
					<div class='today' style="left:{{d_today}}%">
						<div class='cursor'>
						</div>
						<div class='text'>
							Today
						</div>
					</div>
					{% endif %}


					{% set d_inscription = d_inscription * 100 / d_total %}
					{% set d_activity = d_activity * 100 / d_total %}
					{% set d_correction = d_correction * 100 / d_total %}
					{% set d_gap = d_gap * 100 / d_total %}
					{% if d_gap < 0 %}
						{% set d_inscription = d_inscription + (d_gap) %}
						{% set d_activity = d_activity + (d_gap) %}
					{% endif %}
					<div class="timeline" style="width: 100%;margin-bottom:5px;">
						<div class="part green" style="width:{{ d_inscription }}%" data-html="<span style='color:#5cb85c;'>{{ activity.startRegistration|date("d/m/Y \\- H:i") }} | {{activity.endRegistration|date("d/m/Y \\- H:i") }}</span>">Inscription</div>
						{% if d_gap < 0 %}
						<div class="part green striped-orange" style="width:{{ - d_gap }}%" data-html="<span style='color:#5cb85c;'>{{ activity.startRegistration|date("d/m/Y \\- H:i") }} | {{activity.endRegistration|date("d/m/Y \\- H:i") }}</span><br><span style='color:#f0ad4e;'>{{ activity.start|date("d/m/Y \\- H:i") }} | {{activity.end|date("d/m/Y \\- H:i") }}</span>">{% if d_inscription < 1 %}Inscription{% endif %}</div>
						{% else %}
						<div class="part white" style="width:{{ d_gap }}%"></div>
						{% endif %}
						<div class="part orange" style="width:{{ d_activity }}%" data-html="<span style='color:#f0ad4e;'>{{ activity.start|date("d/m/Y \\- H:i") }} | {{activity.end|date("d/m/Y \\- H:i") }}</span>">Activité</div>
						<div class="part red" style="width:{{ d_correction }}%" data-html="<span style='color:#d9534f;'>{{ activity.startCorrection|date("d/m/Y \\- H:i") }} | {{activity.endCorrection|date("d/m/Y \\- H:i") }}</span>">Correction</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="thirteen wide column">
				<div class="segment">
					{{ activity.description }}
				</div>
			</div>
			<div class="three wide column">
				<div class="segment">
					<input class="donught chart" value="{{ activity.places - activity.students|length }}" data-max="{{ activity.places }}" data-width="150" data-thickness=".4">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">


				{% if activity.subject %}
					<a href="{{ path('sonata_media_download', {'id': activity.subject|sonata_urlsafeid }) }}">{{ activity.subject }}</a>
				{% endif %}
				<br>
				{{ activity.start|localizeddate("medium", "short") }}
				<br>
				{{ activity.end|localizeddate("medium", "short") }}
				<br>
				{{ activity.startRegistration|localizeddate("medium", "short") }}
				<br>
				{{ activity.endRegistration|localizeddate("medium", "short") }}
				<br>
				{{ activity.startCorrection|localizeddate("medium", "short") }}
				<br>
				{{ activity.endCorrection|localizeddate("medium", "short") }}
				<br>
				{{ activity.peers }}
				<br>
				{{ activity.type }}
				<br>
				{% if activity.sizeMin != activity.sizeMax %}
					{{ activity.sizeMin }} | {{ activity.sizeMax }}
				{% else %}
					{{ activity.sizeMin }}
				{% endif %}
				<br>
				{% if app.user in activity.module.students %}
					{% if date() > activity.startregistration and date() < activity.endregistration %}
						{% if activity.sizemax > 1 %}
							{% if app.user in activity.students %}
								<a href="{{ path('site_activities_activity_registration', {'id': activity.id }) }}"><button class="ui blue button"><i class="remove icon"></i>Détruire le groupe</button></a>
							{% else %}
								<form></form>
							{% endif %}
						{% else %}
							{% if app.user in activity.students %}
								<a href="{{ path('site_activities_activity_registration', {'id': activity.id }) }}"><button class="ui blue button"><i class="minus icon"></i>Se désincrire</button></a>
							{% else %}
								<a href="{{ path('site_activities_activity_registration', {'id': activity.id }) }}"><button class="ui blue button"><i class="add icon"></i>S'inscrire</button></a>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="column">
				<div class="segment padded left">
					<h4 class="ui dividing header">
						<i class="laptop icon"></i>
						{{ 'ACTIVITY_TITLE_ELEARNING'|trans }}
					</h4>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
