{% extends "SiteActivityBundle::layout_activities.html.twig" %}

{% block activities_body %}
<div class="ui grid">
	<div class="row">
		<div class="column">
			<div class="segment">
				<h3 class="ui dividing header">
					<div style="display:inline-block;">
						<i class="file outline icon"></i>
					</div>
					{{ activity.name }}
					<div class="ui blue label float right">
						{{ activity.type }}
					</div>
				</h3>
				{% if date() > activity.endCorrection %}
					<h4 class="ui info message centered">
						{{ 'activity.registration.end'|trans }} {{ activity.endCorrection|localizeddate("short", "short") }}.
					</h4>
				{% elseif date() < activity.startregistration %}
					<h4 class="ui error message centered">
						{{ 'activity.registration.early'|trans }} {{ activity.startRegistration|localizeddate("short", "short") }}.
					</h4>
				{% elseif date() > activity.endregistration and app.user not in activity.students %}
					<h4 class="ui error message centered">
						{{ 'activity.registration.late'|trans }} {{ activity.endRegistration|localizeddate("short", "short") }}.
					</h4>
				{% endif %}

				{% set d_total = (activity.endCorrection|date("U") - activity.startRegistration|date("U"))|date("U") %}
				{% set d_gap = (activity.start|date("U") - activity.endRegistration|date("U"))|date("U") %}
				{% set d_inscription = (activity.endRegistration|date("U") - activity.startRegistration|date("U"))|date("U")  %}
				{% set d_activity = (activity.end|date("U") - activity.start|date("U"))|date("U")  %}
				{% set d_correction = (activity.endCorrection|date("U") - activity.startCorrection|date("U"))|date("U")  %}
				{% set d_today = ("now"|date("U") - activity.startRegistration|date("U")) * 100 / d_total %}

				{% set d_inscription = d_inscription * 100 / d_total %}
				{% set d_activity = d_activity * 100 / d_total %}
				{% set d_correction = d_correction * 100 / d_total %}
				{% set d_gap = d_gap * 100 / d_total %}

				{% if d_gap < 0 %}
					{% set d_inscription = d_inscription + (d_gap) %}
					{% set d_activity = d_activity + (d_gap) %}
				{% endif %}

				<div class="timeline" style="width: 100%;margin-bottom:5px;">
					<div class="part green" style="width:{{ d_inscription }}%" data-html="<span style='color:#5cb85c;'>{{ activity.startRegistration|localizeddate("short", "short") }} | {{activity.endRegistration|localizeddate("short", "short") }}</span>">
						{{ 'activity.timeline.registration'|trans }}
					</div>
					{% if d_gap < 0 %}
						<div class="part green striped-orange" style="width:{{ - d_gap }}%" data-html="<span style='color:#5cb85c;'>{{ activity.startRegistration|localizeddate("short", "short") }} | {{activity.endRegistration|localizeddate("short", "short") }}</span><br/><span style='color:#f0ad4e;'>{{ activity.start|localizeddate("short", "short") }} | {{activity.end|localizeddate("short", "short") }}</span>">
							{% if d_inscription < 1 %}
								{{ 'activity.timeline.registration'|trans }}
							{% endif %}
						</div>
					{% else %}
						<div class="part white" style="width:{{ d_gap }}%"></div>
					{% endif %}
					<div class="part orange" style="width:{{ d_activity }}%" data-html="<span style='color:#f0ad4e;'>{{ activity.start|localizeddate("short", "short") }} | {{activity.end|localizeddate("short", "short") }}</span>">
						{{ 'activity.timeline.activity'|trans }}
					</div>
					<div class="part red" style="width:{{ d_correction }}%" data-html="<span style='color:#d9534f;'>{{ activity.startCorrection|localizeddate("short", "short") }} | {{activity.endCorrection|localizeddate("short", "short") }}</span>">
						{{ 'activity.timeline.correction'|trans }}
					</div>
				</div>
				{% if d_today >= 0 and d_today <= 100 %}
					<div class='today' style="left:{{d_today}}%">
						<div class='cursor'></div>
						<div class='text'>
							{{ 'activity.cursor'|trans }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="thirteen wide column">
			<div class="segment">
				<h4 class="ui dividing header">
					<i class="reorder icon"></i>
					{{ 'activity.heading.description'|trans|upper }}
				</h4>
				<p>
					{{ activity.description|raw }}
				</p>
				<h4 class="ui dividing header">
					<i class="reorder icon"></i>
					{{ 'activity.heading.type'|trans|upper }}
				</h4>
				<p>
					{% if activity.sizeMin != activity.sizeMax %}
						{{ 'activity.group.mult.free'|trans({ '%nb_students_min%': activity.sizeMin, '%nb_students_max%': activity.sizeMax}) }}
					{% elseif activity.sizeMin != 1 %}
						{{ 'activity.group.mult.strict'|trans({ '%nb_students%': activity.sizeMin }) }}
					{% else %}
						{{ 'activity.group.one'|trans }}
					{% endif %}
				</p>
				<h4 class="ui dividing header">
					<i class="reorder icon"></i>
					{{ 'activity.heading.correction'|trans|upper }}
				</h4>
				<p>
					{% if activity.peers != 0 %}
						{% set peers = activity.peers / 2 %}
						{{ 'activity.correction'|trans({ '%nb_peers%': peers|round }) }}
					{% else %}
						{{ 'activity.nocorrection'|trans }}
					{% endif %}
				</p>
				<br/>
				<p>
					<i class="download icon nomargin"></i>
					<b>
						{{ 'activity.heading.subject'|trans }}
					</b>
					{% if activity.subject %}
						<a href="{{ path('sonata_media_download', {'id': activity.subject|sonata_urlsafeid }) }}">
							{{ activity.subject }}
						</a>
					{% else %}
						{{ 'activity.nosubject'|trans }}
					{% endif %}
					<br/>
					<i class="laptop icon nomargin"></i>
					<b>
						{{ 'activity.heading.elearning'|trans }}
					</b>
					<a href="{{ path('site_activity_elearning', {'id': activity.id }) }}">
						{{ 'activity.link.elearning'|trans }}
					</a>
				</p>
				<br>
				{% if group is defined %}
				<h4 class="ui dividing header">
					<i class="users icon"></i>
					{{ 'activity.group.title'|trans|upper }} : {{ group.name }}
				</h4>
					{% for student in group.students %}
					<a href="{{ path('sonata_user_profile_show_name', { 'user' : student }) }}" class="ui segment" style="display:inline-block;margin-left:10px;margin-right:10px;">
					<img style="width:50px;" src="data:image/png;base64,{{ student.avatar }}" /><br>
					{{ student }}
					</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="three wide column">
			<div class='centered'>
				<b>Inscrits</b>
			</div>
			<br/>
			<div class="segment centered">
				<input class="donught chart" value="{{ activity.students|length }}" data-max="{{ activity.places }}" data-width="150" data-thickness=".4">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="column">
			{% if app.user in activity.module.students %}
				{% if date() > activity.startRegistration and date() < activity.endRegistration %}
					{% if activity.sizemax > 1 %}
						{% if app.user in activity.students %}
							<a href="{{ path('site_activities_activity_registration', {'id': activity.id }) }}">
								<button class="ui right floated blue button">
									<i class="remove icon"></i>
									{{ 'activity.group.destroy'|trans }}
								</button>
							</a>
						{% else %}
						<div class="ui modal">
							<i class="close icon"></i>
							<div class="header">Inscription d'un groupe</div>
							<div class="content ui form">
							<form method="post" action="{{ path('site_activities_activity_registration', {'id': activity.id}) }}">

								<div class="field">
								<div style="display:none; position: absolute; top: -5px;" class="error-group ui red pointing below ui label">Entrez un nom de groupe</div>
									{{ form_widget(form.name) }}

								  </div>

									{{ form_widget(form.students, { 'attr': {'class': 'select'} }) }}

							</div>
								<div class="actions">
									<div class="red ui button">Annuler</div>
									<div class="target-validate-group" style="display:inline-block">
								    	<input disabled style="opacity:0.5;" class="validate-group green ui button" type="submit" value="S'inscrire" />
									</div>
								</div>
									{{ form_widget(form) }}
								</form>
							</div>
						</div>
						<button class="register-group ui right floated blue button"><i class="add icon"></i>S'inscrire</button>
						{% endif %}
					{% else %}
						{% if app.user in activity.students %}
							<a href="{{ path('site_activities_activity_registration', {'id': activity.id }) }}">
								<button class="ui right floated blue button">
									<i class="minus icon"></i>
									{{ 'activity.form.deregister'|trans }}
								</button>
							</a>
						{% else %}
							<a href="{{ path('site_activities_activity_registration', {'id': activity.id }) }}">
								<button class="ui right floated blue button">
									<i class="add icon"></i>
									{{ 'activity.form.register'|trans }}
								</button>
							</a>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="segment padded left">
				<h4 class="ui dividing header">
					<i class="pencil icon"></i>
					{{ 'activity.heading.notes'|trans|upper }}
				</h4>
			</div>
		</div>
	</div>
</div>
{% endblock %}
