{% extends 'SiteActivityBundle::layout_activities.html.twig' %}

{% block activities_body %}

{% for module in modules %}
<h3 class="ui dividing header">
	<div style="display:inline-block;">
		<i class="file outline icon"></i>
	</div>
	{{ 'module.subtitle.project.list'|trans({'%module%': module.name}) }}
</h3>
<div class="row">
	<div class="column">
		<div class="segment padded left">
			<div class="ui relaxed list">
				{% for activity in module.activities %}
				<div class="item">
					{% if date() > activity.startRegistration and date() < activity.endRegistration %}
						{% set color = '#5cb85c' %}
					{% elseif date() > activity.start and date() < activity.end %}
						{% set color = '#f0ad4e' %}
					{% elseif date() > activity.startCorrection and date() < activity.endCorrection %}
						{% set color = '#d9534f' %}
					{% elseif date() > activity.endCorrection %}
						{% set color = '#9C9C9C' %}
					{% else %}
						{% set color = '#EEEEEE' %}
					{% endif %}
					<h5 class="ui black block header project-list" style="{% if date() > activity.endCorrection %}opacity:0.3; {% endif %}border-left: 5px solid {{ color }};">
						<a href="{{ path('site_activities_activity', { 'id': activity.id}) }}">{{ activity.name }}</a>
						<span class='float right'>{{ 'module.subtitle.project.date'|trans({ '%start%': activity.startRegistration|localizeddate("short", "short"), '%end%': activity.endCorrection|localizeddate("short", "short") }) }}</span>
					</h5>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endfor %}


{% endblock %}
