{% extends "SiteActivityBundle::layout_activities.html.twig" %}

{% block activities_body %}
<div class="ui grid">
	<div class="row">
		<div class="column">
			<div class="segment">
				<h3 class="ui dividing header">
					<div style="display:inline-block;"><i class="folder outline icon"></i></div>{{ module.name }}
					<div class="ui blue label float right">{{ 'module.credits'|trans({ '%nb_credits%': module.credits }) }}</div>
				</h3>
				{% if date() > module.end %}
				<h4 class="ui info message centered">
					{{ 'module.registration.end'|trans }} {{ module.end|localizeddate("short", "short") }}.
				</h4>
				{% elseif date() < module.startregistration %}
					<h4 class="ui error message centered">
						{{ 'module.registration.early'|trans }} {{ module.startRegistration|localizeddate("short", "short") }}.
					</h4>
				{% elseif date() > module.endregistration and app.user not in module.students %}
					<h4 class="ui error message centered">
						{{ 'module.registration.late'|trans }} {{ module.endRegistration|localizeddate("short", "short") }}.
					</h4>
				{% endif %}

				{% set d_total = (module.end|date("U") - module.startRegistration|date("U"))|date("U") %}
				{% set d_gap = (module.start|date("U") - module.endRegistration|date("U"))|date("U") %}
				{% set d_inscription = (module.endRegistration|date("U") - module.startRegistration|date("U"))|date("U")  %}
				{% set d_activity = (module.end|date("U") - module.start|date("U"))|date("U")  %}
				{% set d_today = ("now"|date("U") - module.startRegistration|date("U")) * 100 / d_total %}

				{% set d_inscription = d_inscription * 100 / d_total %}
				{% set d_activity = d_activity * 100 / d_total %}
				{% set d_gap = d_gap * 100 / d_total %}

				{% if d_gap < 0 %}
					{% set d_inscription = d_inscription + (d_gap) %}
					{% set d_activity = d_activity + (d_gap) %}
				{% endif %}

				<div class="timeline" style="width: 100%;margin-bottom:5px;">
					<div class="part green" style="width:{{ d_inscription }}%" data-html="<span style='color:#5cb85c;'>{{ module.startRegistration|localizeddate("short", "short") }} | {{module.endRegistration|localizeddate("short", "short") }}</span>">{{ 'module.timeline.registration'|trans }}</div>
					{% if d_gap < 0 %}
					<div class="part green striped-orange" style="width:{{ - d_gap }}%" data-html="<span style='color:#5cb85c;'>{{ module.startRegistration|localizeddate("short", "short") }} | {{module.endRegistration|localizeddate("short", "short") }}</span><br/><span style='color:#f0ad4e;'>{{ module.start|localizeddate("short", "short") }} | {{module.end|localizeddate("short", "short") }}</span>">{% if d_inscription < 1 %}{{ 'module.timeline.registration'|trans }}{% endif %}</div>
					{% else %}
					<div class="part white" style="width:{{ d_gap }}%"></div>
					{% endif %}
					<div class="part orange" style="width:{{ d_activity }}%" data-html="<span style='color:#f0ad4e;'>{{ module.start|localizeddate("short", "short") }} | {{module.end|localizeddate("short", "short") }}</span>">{{ 'module.timeline.activity'|trans }}</div>
				</div>
				{% if d_today >= 0 and d_today <= 100 %}
				<div class='today' style="left:{{d_today}}%">
					<div class='cursor'>
					</div>
					<div class='text'>
						{{ 'module.cursor'|trans }}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="thirteen wide column">
			<div class="segment">
				<h4 class="ui dividing header">
					<i class="reorder icon"></i>
					{{ 'module.heading.description'|trans|upper }}
				</h4>
				<p> {{ module.description|raw }} </p>
			</div>
		</div>

		<div class="three wide column">
			<div class='centered'><b>Inscrits</b></div><br/>
			<div class="segment centered">
				<input class="donught chart" value="{{ module.students|length }}" data-max="{{ module.places }}" data-width="150" data-thickness=".4">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			{% if date() > module.startregistration and date() < module.endregistration %}
				{% if app.user in module.students %}
					<a href="{{ path('site_activities_module_registration', {'id': module.id }) }}"><button class="ui right floated blue button"><i class="minus icon"></i>Se désincrire</button></a>
				{% else %}
					<a href="{{ path('site_activities_module_registration', {'id': module.id }) }}"><button class="ui right floated blue button"><i class="add icon"></i>S'inscrire</button></a>
				{% endif %}
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="segment padded left">
				<h4 class="ui dividing header">
					<i class="file outline icon"></i>
					{{ 'module.heading.projects'|trans|upper }}
				</h4>
				<div class="ui relaxed list">
					{% for activity in module.activities %}
					<div class="item">
						{% if date() > activity.startRegistration and date() < activity.endRegistration %}
							{% set color = '#5cb85c' %}
						{% elseif date() > activity.start and date() < activity.end %}
							{% set color = '#f0ad4e' %}
						{% elseif date() > activity.startCorrection and date() < activity.endCorrection %}
							{% set color = '#d9534f' %}
						{% elseif date() > activity.endCorrection %}
							{% set color = '#9C9C9C' %}
						{% else %}
							{% set color = '#EEEEEE' %}
						{% endif %}
						<h5 class="ui black block header project-list" style="{% if date() > activity.endCorrection %}opacity:0.3; {% endif %}border-left: 5px solid {{ color }};">
							<a href="{{ path('site_activities_activity', { 'id': activity.id}) }}">{{ activity.name }}</a>
							<span class='float right'>{{ 'module.subtitle.project.date'|trans({ '%start%': activity.startRegistration|localizeddate("short", "short"), '%end%': activity.endCorrection|localizeddate("short", "short") }) }}</span>
						</h5>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
