{% extends "::layout.html.twig" %}

{% block title %} {{ 'messenger'|trans({}, 'FOSMessageBundle') }} - {{ parent() }} {% endblock %}

{% block body %}
	<h2 class="ui header padded left">
		<i class="mail large icon"></i>
		<div class="content">
			{{ 'messenger'|trans({}, 'FOSMessageBundle')|upper }}
		</div>
	</h2>
	<div class="ui clearing divider"></div>
	<div class="ui grid">
		<div class="left floated two wide column left-menu rightbordered">
			<br>
			<br>
			<div class="ui vertical text menu">
				<a class="item {% block item_new '' %}" href="{{ path('fos_message_thread_new' )}}">
					<i class="pencil icon"></i>{{ 'MENU_NEW'|trans }}
				</a>
				<a class="item {% block item_inbox '' %}" href="{{ url('fos_message_inbox') }}">
					<i class="inbox icon"></i>
					{% if fos_message_nb_unread() %}
						<label class="ui small blue label float right">
							{{ fos_message_nb_unread() }}
						</label>
					{% endif %}
					{{ 'MENU_INBOX'|trans }}
				</a>
				<a class="item {% block item_sent '' %}" href="{{ url('fos_message_sent') }}">
					<i class="list icon"></i> {{ 'MENU_SENT'|trans }}
				</a>
				<a class="item {% block item_trash '' %}" href="{{ url('fos_message_deleted') }}">
					<i class="trash icon"></i> {{ 'MENU_TRASH'|trans }}
				</a>
			</div>
		</div>
		<div class="left floated fourteen wide column">
			{% block body_messages %}
			{% endblock %}
		</div>
	</div>
{% endblock %}
