<!doctype HTML>
<html>
	<head>
		<meta/>
		<title>{% block title %} Intra {% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/semantic.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
		{% endblock %}
		{% block scripts %}
			<script type="text/javascript" src="{{ asset('javascript/jquery-2.1.1.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('javascript/semantic.js') }}"></script>
			<script type="text/javascript" src="{{ asset('javascript/jquery.tablesort.js') }}"></script>
			<script type="text/javascript" src="{{ asset('javascript/jquery.knob.js') }}"></script>
			<script type="text/javascript" src="{{ asset('javascript/jquery.zclip.js') }}"></script>
			<script type="text/javascript" src="{{ asset('javascript/jquery.calendar.js') }}"></script>
			<script type="text/javascript" src="{{ asset('javascript/script.js') }}"></script>
			{{ tinymce_init() }}
		{% endblock %}
	</head>
	{% if is_granted("IS_AUTHENTICATED_FULLY") == false %}
		<body class="overflow">
			<div class="overflow"></div>
	{% else %}
		<body>
		<div class="ui secondary pointing blue menu">
			<a class="{% block active_home '' %} item hide" href="{{ path('site_intra') }}">
				<i class="home icon"></i> {{ 'NAVBAR_HOME'|trans }}
			</a>
			<a class="{% block active_activities '' %} item hide" href="{{ path('site_activities') }}">
				<i class="tasks icon"></i> {{ 'NAVBAR_ACTIVITIES'|trans }}
			</a>
			<a class="{% block active_planning '' %} item hide" href="{{ path('site_planning') }}">
				<i class="calendar icon"></i> {{ 'NAVBAR_PLANNING'|trans }}
			</a>
			<a class="{% block active_elearning '' %} item hide" href="{{ path('site_elearning') }}">
				<i class="laptop icon"></i> {{ 'NAVBAR_ELEARNING'|trans }}
			</a>
			<a class="{% block active_forum '' %} item hide" href="{{ path('site_forum') }}">
				<i class="chat icon"></i> {{ 'NAVBAR_FORUM'|trans }}
			</a>
			<a class="{% block active_directory '' %} item hide" href="{{ path('site_directory') }}">
				<i class="book icon"></i> {{ 'NAVBAR_DIRECTORY'|trans }}
			</a>
			<div class="right menu">
				<div class="item">
					<div class="ui small icon input">
						<input type="text" placeholder="{{ 'NAVBAR_SEARCH'|trans }}">
						<i class="search icon"></i>
					</div>
				</div>
				{% if fos_message_nb_unread() %}<label class="ui small blue label"><a href="{{ path('fos_message_inbox') }}"><i class="mail outline icon"></i>{{ fos_message_nb_unread() }}</a></label>{% endif %}&nbsp;&nbsp;
				<div class="ui dropdown item">
					<i class="user icon"></i>{% if app.user is not null %} {{ app.user.username }} {% endif %}<i class="icon dropdown"></i>
					<div class="menu">
						<a class="item hide" href="{{ path('sonata_user_profile_show') }}">
							<i class="unhide icon"></i> {{ 'NAVBAR_DROP_PROFILE'|trans }}
						</a>
						<a class="item hide" href="{{ path('fos_message_inbox') }}">
							<i class="mail icon"></i>{{ 'NAVBAR_DROP_MESSAGES'|trans }}
						</a>
						<a class="item hide" href="{{ path('sonata_user_change_password') }}">
							<i class="settings icon"></i>{{ 'NAVBAR_DROP_SETTINGS'|trans }}
						</a>
						<a class="item hide" href="{{ path('site_ticket') }}">
							<i class="ticket icon"></i>{{ 'NAVBAR_DROP_TICKETS'|trans }}
						</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a class="item hide" href="{{ path('sonata_admin_redirect') }}">
								<i class="table icon"></i>{{ 'NAVBAR_DROP_ADMIN'|trans }}
							</a>
						{% endif %}
						{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
							<a class="item hide" href="{{ path('sonata_admin_redirect', {'_switch_user': '_exit'}) }}">
								<i class="forward mail icon"></i>{{ 'NAVBAR_DROP_LOGOUTAS'|trans }}
							</a>
						{% endif %}
						<a class="item hide" href="{{ path('sonata_user_security_logout') }}">
							<i class="sign out icon"></i>{{ 'NAVBAR_DROP_LOGOUT'|trans }}
						</a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
		{% block body %}
		{% endblock %}
	</body>
</html>
