{% extends "::layout.html.twig" %}

{% block title %} {{ 'sonata_profile_title'|trans({}, 'SonataUserBundle') }} | {{ parent() }} {% endblock %}

{% block body %}
	{% block sonata_page_breadcrumb %}
		{% if breadcrumb_context is not defined %}
			{% set breadcrumb_context = 'user_index' %}
		{% endif %}
		<div class="row-fluid clearfix">
			{{ sonata_block_render_event('breadcrumb', { 'context': breadcrumb_context, 'current_uri': app.request.requestUri }) }}
		</div>
	{% endblock %}
	<h2 class="ui header">
		<i class="dashboard icon"></i>
		<div class="content">
			{{ 'sonata_profile_title'|trans({}, 'SonataUserBundle')|upper }}
		</div>
	</h2>
	<div class="sonata-user-show row row-fluid">
	<div class="span2 col-lg-2" style="padding: 8px 0;">
		{% block sonata_profile_menu %}
			{{ sonata_block_render({'type': 'sonata.user.block.menu'}, {'current_uri': app.request.requestUri}) }}
		{% endblock %}
	</div>
	<div class="ui clearing divider"></div>
	<div class="span10 col-lg-10">
		{% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
		{% block sonata_profile_content %}
		{% endblock %}
	</div>
</div>
{% endblock %}
