{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}
	<div class="centered row">
		<div class="twelve wide column">
			<h3 class="ui dividing header">
				<i class="edit large icon"></i>
				<div class="content">
					{{ 'title_user_edit_profile'|trans({}, 'SonataUserBundle')|upper }} {{ 'title_user_account'|trans({}, 'SonataUserBundle')|upper }}
				</div>
			</h3>
			{% if not form.vars.valid %}
				<h4 class="ui message error centered">
					{{ form_errors(form) }}
				</h4>
			{% endif %}
			{% form_theme form _self %}
			<div class="ui form">
				<form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal">
					{{ form_widget(form) }}
					<br>
					<div class="field">
						<input type="submit" name="submit" class="ui button floated right" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
