{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}
	<h3 class="ui header">
		<i class="info letter icon"></i>
		<div class="content">
			{{ 'DASHBOARD_TITLE_EDIT_AUTHENTICATION'|trans }}
			<div class="sub header">{{ 'DASHBOARD_SUBTITLE_EDIT_AUTHENTICATION'|trans }}</div>
		</div>
	</h3>
	<div class="panel-body">
		<form action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST" class="form-horizontal">
			{{ form_widget(form) }}
			<button type="submit" name="submit" class="btn btn-primary pull-right">{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}</button>
		</form>
	</div>
	<h3 class="ui header">
		<i class="lock icon"></i>
		<div class="content">
			{{ 'DASHBOARD_TITLE_EDIT_PASSWORD'|trans }}
			<div class="sub header">{{ 'DASHBOARD_SUBTITLE_EDIT_PASSWORD'|trans }}</div>
		</div>
	</h3>
	<div class="panel-body">
		{% render url("sonata_user_change_password") %}
	</div>
{% endblock %}
