{% extends "SonataUserBundle:Profile:action.html.twig" %}

{# BLOCK FORM_RENDERING#}
{% form_theme form _self %}

{% block choice_widget_collapsed %}
	{% spaceless %}
		{% if required and empty_value is none and not empty_value_in_choices and not multiple %}
			{% set required = false %}
		{% endif %}
		<input type="hidden" {{ block('widget_attributes') }}>
		<div class="menu">
			{% if preferred_choices|length > 0 %}
				{% set options = preferred_choices %}
				{{ block('choice_widget_options') }}
				{% if choices|length > 0 and separator is not none %}
					<option disabled="disabled">{{ separator }}</option>
				{% endif %}
			{% endif %}
			{% set options = choices %}
			{{ block('choice_widget_options') }}
		</div>
	{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_options %}
	{% spaceless %}
		{% for group_label, choice in options %}
			{% if choice is iterable %}
				<optgroup label="{{ group_label|trans({}, translation_domain) }}">
					{% set options = choice %}
					{{ block('choice_widget_options') }}
				</optgroup>
			{% else %}
				<div class="item" data-value="{{ choice.value }}" value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</div>
			{% endif %}
		{% endfor %}
	{% endspaceless %}
{% endblock choice_widget_options %}

{% block choice_widget_expanded %}
	{% spaceless %}
		{% for child in form %}
			<div class="field">
				<div class="ui radio checkbox">
					{{ form_widget(child) }}
					{{ form_label(child) }}
				</div>
			</div>
		{% endfor %}
	{% endspaceless %}
{% endblock choice_widget_expanded %}
{# ENDBLOCK FORM_RENDERING #}

{% block sonata_profile_content %}
	<div class="centered row">
		<div class="twelve wide column">
			<br>
			<h3 class="ui dividing header">
				<i class="edit large icon"></i>
				<div class="content">
					{{ 'title_user_edit_profile'|trans({}, 'SonataUserBundle')|upper }} {{ 'title_user_account'|trans({}, 'SonataUserBundle')|upper }}
				</div>
			</h3>
			{% if not form.vars.valid %}
				<h4 class="ui message error centered">
					{{ form_errors(form) }}
				</h4>
			{% endif %}
			{% form_theme form _self %}
			<div class="ui form">
				<form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal">
					<div class="field">
						{{ form_widget(form.firstname) }}
					</div>
					<div class="field">
						{{ form_widget(form.lastname) }}
					</div>
					<div class="grouped inline field">
						{{ form_widget(form.gender) }}
					</div>
					<div class="field">
						{{ form_widget(form.phone) }}
					</div>
					<div class="field">
						{{ form_widget(form.dateOfBirth) }}
					</div>
					<div class="field">
						{{ form_widget(form.website) }}
					</div>
					<div class="field">
						{{ form_widget(form.biography) }}
					</div>
					<div class="field">
						<div class="ui selection dropdown">
							<div class="default text">Locale</div>
							<i class="dropdown icon"></i>
							{{ form_widget(form.locale) }}
						</div>
					</div>
					<div class="field">
						{{ form_rest(form) }}
					</div>
					<div class="field">
						<input type="submit" name="submit" class="ui button floated right" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
