<h3 class="ui dividing header">
	<i class="tasks icon"></i>
	<div class="content">
		{{ 'title_user_grades'|trans({}, 'ApplicationSonataUserBundle')|upper }}
	</div>
</h3>
<table class="ui three column basic table">
	<thead>
		<tr>
			<th>{{ 'label_profile_module_table_module'|trans({}, 'ApplicationSonataUserBundle')|upper }}</th>
			<th>{{ 'label_profile_module_table_credits'|trans({}, 'ApplicationSonataUserBundle')|upper }}</th>
			<th>{{ 'label_profile_module_table_grade'|trans({}, 'ApplicationSonataUserBundle')|upper }}</th>
		</tr>
	</thead>
	<tbody>
		{% set i = 0 %}
		{% set total_credits = 0 %}
		{% for module in user.modules %}
			<tr class="show activities" data-text="{{ i }}">
				<td>{{ module.name }}</td>
				<td>{{ module.credits }}</td>
				<td></td>
			</tr>
				<tr class="hidden {{ i }}">
					<td style="padding-left: 75px;">{{ 'label_profile_module_table_activity'|trans({}, 'ApplicationSonataUserBundle')|upper }}</td>
					<td>{{ 'label_profile_module_table_mark'|trans({}, 'ApplicationSonataUserBundle')|upper }}</td>
				</tr>
			{% for activity in user.activities %}
				{% if activity.module == module %}
					<tr class="hidden {{ i }}">
						<td style="padding-left: 75px;"><a href="{{ path('site_activities_activity', { 'id': activity.id}) }}">{{ activity.name }}</a></td>
						<td>
							{% for mark in user.marks %}
								{% if mark.activity == activity %}
									{{ mark.mark }}
								{% endif %}
							{% endfor %}
						</td>
					</tr>
				{% endif %}
			{% endfor %}
			{% set i = i + 1 %}
			{% set total_credits = total_credits + module.credits %}
		{% endfor %}
			<tr>
				<td>{{ 'label_profile_module_table_total'|trans({}, 'ApplicationSonataUserBundle')|upper }}</td>
				<td>X/{{ total_credits }}</td>
				<td>
					<a href="{{ path('sonata_user_profile_export') }}">
						<button class="ui blue right floated button">
							<i class="download icon"></i>{{ 'export'|trans({}, 'ApplicationSonataUserBundle') }}
						</button>
					</a>
				</td>
			</tr>
	</tbody>
</table>
