<h3 class="ui dividing header">
	<i class="tasks icon"></i>
	<div class="content">
		{{ 'title_user_grades'|trans({}, 'ApplicationSonataUserBundle')|upper }}
	</div>
</h3>
<table class="ui sortable basic table">
	<thead>
		<tr>
			<th>{{ 'label_profile_module_name'|trans({}, 'ApplicationSonataUserBundle')|upper }}</th>
			<th>{{ 'label_profile_module_credits'|trans({}, 'ApplicationSonataUserBundle')|upper }}</th>
			<th>{{ 'label_profile_module_grade'|trans({}, 'ApplicationSonataUserBundle')|upper }}</th>
		</tr>
	</thead>
	<tbody>
		{% for module in user.modules %}
			<tr class="show activities">
				<td>{{ module.name }}</td>
				<td>{{ module.credits }}</td>
				<td>NEED FIX</td>
			</tr>
			<tr class="content activities hidden">
				<td>{{ module.activities.last.name }}</td>
				<td>NEED FIX</td>
				<td>NEED FIX</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
