{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}
	<h3 class="ui dividing header">
		<i class="unhide icon"></i>
		<div class="content">
			{{ 'title_user_account'|trans({}, 'SonataUserBundle')|upper }}
		</div>
	</h3>
	<div class="ui relaxed divided list">
		<div class="item">
			<div class="content">
				<img style="width:200px;" src="data:image/png;base64,{{ user.avatar }}" />
			</div>
		</div>
		<div class="item">
			<div class="content">
				<span class="header">
					{{ 'show.label_username'|trans({}, 'SonataUserBundle')|upper }}
				</span>
				<span class="description">
					{{ user.username }}
				</span>
			</div>
		</div>
		<div class="item">
			<div class="content">
				<span class="header">
					{{ 'show.label_lastname'|trans({}, 'SonataUserBundle')|upper }}/{{ 'show.label_firstname'|trans({}, 'SonataUserBundle')|upper }}
				</span>
				<span class="description">
					{{ user.lastname }} {{ user.firstname }}
				</span>
			</div>
		</div>
		<div class="item">
			<div class="content">
				<span class="header">
					{{ 'show.label_gender'|trans({}, 'SonataUserBundle')|upper }}
				</span>
				<span class="description">
					{% if user.gender == "m" %}
						<i class="male large icon"></i>
					{% elseif user.gender =="f" %}
						<i class="female large icon"></i>
					{% else %}
						<i class="question large icon"></i>
					{% endif %}
				</span>
			</div>
		</div>
		<div class="item">
			<div class="content">
				<span class="header">
					{{ 'show.label_date_of_birth'|trans({}, 'SonataUserBundle')|upper }}
				</span>
				<span class="description">
					{{ user.dateofbirth|localizeddate("medium", "short") }}
				</span>
			</div>
		</div>
		<div class="item">
			<div class="content">
				<i class="mail icon"></i>
				<span class="description">
					{{ user.email }}
				</span>
			</div>
		</div>
		<div class="item">
			<div class="content">
				<i class="phone icon"></i>
				<span class="description">
					{{ user.phone }}
				</span>
			</div>
		</div>
		<div class="item">
			<div class="content">
				<i class="url icon"></i>
				<span class="description">
					{{ user.website }}
				</span>
			</div>
		</div>
		<div class="item">
			<div class="content">
				<span class="header">
					{{ 'show.label_biography'|trans({}, 'SonataUserBundle')|upper }}
				</span>
				<span class="description">
					{{ user.biography }}
				</span>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="ui relaxed divided list">
		<div class="item">
			<div class="content">
				<span class="header">
					{{ 'show.label_last_login'|trans({}, 'SonataUserBundle')|upper }}
				</span>
				<span class="description">
					{{ user.updatedat|localizeddate("full", "medium") }}
				</span>
			</div>
		</div>
		{% if app.user.username == user.username %}
			<a href="{{ path('sonata_user_profile_edit') }}"><button class="ui right floated button"><i class="edit icon"></i>{{ 'title_user_edit_profile'|trans({}, 'SonataUserBundle') }}</button></a>
		{% endif %}
	</div>
{% endblock %}
