{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}
	<h3 class="ui header">
		<i class="unhide icon"></i>
		<div class="content">
			{{ 'DASHBOARD_TITLE_SHOW'|trans }}
			<div class="sub header">{{ 'DASHBOARD_SUBTITLE_SHOW'|trans }}</div>
		</div>
	</h3>
	<div class="profile">
		<div>
			{{ 'show.label_username'|trans({}, 'SonataUserBundle') }}: {{ user.username }}
		</div>
		<div>
			{{ 'show.label_firstname'|trans({}, 'SonataUserBundle') }}: {{ user.firstname }}
		</div>
		<div>
			{{ 'show.label_lastname'|trans({}, 'SonataUserBundle') }}: {{ user.lastname }}
		</div>
		<div>
			{{ 'show.label_gender'|trans({}, 'SonataUserBundle') }}: {% if user.gender == "m" %}{{ 'gender_male'|trans({}, 'SonataUserBundle') }}{%elseif user.gender =="f" %}{{ 'gender_female'|trans({}, 'SonataUserBundle') }}{% else %}{{ 'gender_unknown'|trans({}, 'SonataUserBundle') }}{% endif %}
		</div>
		<div>
			{{ 'show.label_date_of_birth'|trans({}, 'SonataUserBundle') }}: {{ user.dateofbirth|localizeddate("medium", "short") }}
		</div>
		<div>
			{{ 'show.label_email'|trans({}, 'SonataUserBundle') }}: {{ user.email }}
		</div>
		<div>
			{{ 'show.label_phone'|trans({}, 'SonataUserBundle') }}: {{ user.phone }}
		</div>
		<div>
			{{ 'show.label_website'|trans({}, 'SonataUserBundle') }}: {{ user.website }}
		</div>
		<div>
			{{ 'show.label_biography'|trans({}, 'SonataUserBundle') }}: {{ user.biography }}
		</div>
		<br>
		<br>
		<div>
			{{ 'show.label_created_at'|trans({}, 'SonataUserBundle') }}: {{ user.createdat|localizeddate("full", "medium") }}
		</div>
		<div>
			{{ 'show.label_last_login'|trans({}, 'SonataUserBundle') }}: {{ user.updatedat|localizeddate("full", "medium") }}
		</div>
	</div>
{% endblock %}

