{% extends '::layout.html.twig' %}

{% block title %} {{ 'elearning.home'|trans }} - {{ parent() }} {% endblock %}
{% block active_elearning 'active' %}
{% block body %}
	<h2 class="ui header padded left">
		<i class="laptop large icon"></i>
		<div class="content">
			{{ 'elearning.home'|trans|upper }}
		</div>
	</h2>
	<div class="ui clearing divider"></div>
	<div class="ui grid">
		<div class="left floated two wide column left-menu rightbordered">
			<div class="ui fluid basic accordion">
				{% for modulemenu in modules %}
					{% if activity is not null and activity.module == modulemenu or module is not null and modulemenu == module %}
						<div class="title active">
					{% else %}
						<div class="title">
					{% endif %}
						<h4 class="ui header">
							<i class="dropdown icon"></i>
							<a href="{{ path('site_module_elearning', { 'id': modulemenu.id}) }}">{{ modulemenu.name }}</a>
						</h4>
					</div>
					{% if activity is not null and activity.module == modulemenu or module is not null and modulemenu == module %}
						<div class="content active">
					{% else %}
						<div class="content">
					{% endif %}
						{% for activitymenu in modulemenu.activities %}
							{% if activitymenu == activity %}
								<h5 class="ui disabled header padded left">
							{% else %}
								<h5 class="ui header padded left">
							{% endif %}
								<a href="{{ path('site_activity_elearning', { 'id': activitymenu.id }) }}">{{ activitymenu.name }}</a>
							</h5>
						{% else %}
							<h5 class="ui header padded left">
								{{ 'module.noactivity'|trans }}
							</h5>
						{% endfor %}
						</div>
				{% endfor %}
			</div>
		</div>
		<div class="left floated fourteen wide column">
			{% block elearning_body %}
			{% endblock %}
		</div>
	</div>
{% endblock %}
