{% extends "SiteDirectoryBundle::layout.html.twig" %}

{% block body_directory %}
	<h2 class="ui header padded left">
		<i class="book large icon"></i>
		<div class="content">
			{{ 'directory.title'|trans|upper }}
		</div>
	</h2>
	<div class="ui clearing divider"></div>
	<div style="width:90%;margin:auto;">
		<p>
			{{ 'directory.entries'|trans({ '%count%': total.count }) }}
		</p>
		<div style="float:right;margin-bottom:10px;"> {{ 'directory.form.show'|trans }}&nbsp;
			<div class="ui inline dropdown">
				{% if users.params.range is defined %}
					<div class="text">{{ users.params.range }}</div>
				{% else %}
					<div class="text">10</div>
				{% endif %}
				<i class="dropdown icon"></i>
				<div class="menu">
					{% if users.params.range is defined %}
						<div class="item {% if users.params.range == 10 %}active {% endif %}directory_option" data-text="10">10</div>
						<div class="item {% if users.params.range == 20 %}active {% endif %}directory_option" data-text="20">20</div>
						<div class="item {% if users.params.range == 50 %}active {% endif %}directory_option" data-text="50">50</div>
						<div class="item {% if users.params.range == 100 %}active {% endif %}directory_option" data-text="100">100</div>
						<div class="item {% if users.params.range == total.count %}active {% endif %}directory_option" data-text="{{ total.count }}">{{ 'directory.form.all'|trans }}</div>
					{% else %}
						<div class="item active directory_option" data-text="10">10</div>
						<div class="item directory_option" data-text="20">20</div>
						<div class="item directory_option" data-text="50">50</div>
						<div class="item directory_option" data-text="100">100</div>
						<div class="item directory_option" data-text="{{ total.count }}">{{ 'directory.form.all'|trans }}</div>
					{% endif %}
				</div>
			</div>
			{{ 'directory.form.results'|trans }}
		</div>
		<table class="ui sortable six column table segment">
			<thead>
				<tr>
					<th>{{ 'directory.form.heading.photo'|trans }}</th>
					<th>{{ 'directory.form.heading.login'|trans }}</th>
					<th>{{ 'directory.form.heading.firstname'|trans }}</th>
					<th>{{ 'directory.form.heading.lastname'|trans }}</th>
					<th>{{ 'directory.form.heading.phone'|trans }}</th>
					<th>{{ 'directory.form.heading.mail'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for i in 0..users.count %}
					<tr>
						{% if users[i]['picture'][0] is defined %}
							<td><img style="width:50px;" src="data:image/png;base64,{{users[i]['picture'][0]}}" /></td>
						{% endif %}
						{% if users[i]['uid'][0] is defined %}
							<td><a href="{{ path('sonata_user_profile_show_name', { 'user' : users[i]['uid'][0]}) }}">{{users[i]['uid'][0] }}</a></td>
						{% endif %}
						{% if users[i]['first-name'][0] is defined %}
							<td>{{users[i]['first-name'][0] }}</td>
						{% endif %}
						{% if users[i]['last-name'][0] is defined %}
							<td>{{users[i]['last-name'][0] }}</td>
						{% endif %}
						{% if users[i]['mobile-phone'][0] is defined %}
							<td>{{users[i]['mobile-phone'][0] }}</td>
						{% endif %}
						{% if users[i]['alias'][2] is defined %}
							<td>{{users[i]['alias'][2] }}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation">
			{{ knp_pagination_render(users) }}
		</div>
	</div>
{% endblock %}
