{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle::layout.html.twig" %}

{% block body_background 'ui fade' %}
{% block fos_user_content %}
<div class="form login">
	{% block sonata_user_login_form %}
		<form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="ui form">
			<div class="ui form segment">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
				{% if error %}
					<div class="error field">
				{% else %}
					<div class="field">
				{% endif %}
					<div class="ui left labeled icon input">
						<input type="text" placeholder="{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}" id="username" name="_username" value="{{ last_username }}" required="required"/>
						<i class="user icon"></i>
					</div>
				</div>
				{% if error %}
					<div class="error field">
				{% else %}
					<div class="field">
				{% endif %}
					<div class="ui left labeled icon input">
						<input type="password" placeholder="{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}"id="password" name="_password" required="required"/>
						<i class="lock icon"></i>
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<div class="inline field">
							<div class="ui checkbox">
								<input type="checkbox" id="remember_me", name="_remember_me" vale="on"/>
								<label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
							</div>
						</div>
						<a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
					</div>
					<div class="field">
						<input type="submit" id="_submit" class="ui right floated button" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
					</div>
				</div>
			</div>
		</form>
	{% endblock %}
</div>
{% endblock fos_user_content %}
