{% extends "SiteTicketBundle::layout.html.twig" %}

{% block body_ticket %}
	<h3 class="ui dividing header">
		<i class="list icon"></i>
		<div class="content">
			{{ 'TICKET_HEADING_LIST'|trans|upper }}
		</div>
	</h3>
	{% if form is not null %}
		<br>
		<div class="form newticket">
			<div class="ui blue button show form center">
				<i class="plus icon"></i>{{ 'TICKET_BUTTON_NEW'|trans }}
			</div>
			<form class="form thread hidden" action="" method="POST">
				{{ form_widget(form) }}
				<br>
				<div class="field">
					<input type="submit" class="ui right floated button" value="{{ 'TICKET_SEND'|trans }}"/>
				</div>
			</form>
		</div>
	{% endif %}
	<br>
	<br>
	<br>
	<div class="ticket">
		<table>
			<thead>
				<tr>
					<th>{{ knp_pagination_sortable(pagination, 'TICKET_HEADING_SUBJECT'|trans, 't.subject') }} {% if pagination.isSorted('t.subject') %} <i class="triangle down icon"></i> {% endif %}</th>
					<th>{{ knp_pagination_sortable(pagination, 'TICKET_HEADING_DATE'|trans, 't.date') }}{% if pagination.isSorted('t.date') %} <i class="triangle down icon"></i> {% endif %}</th>
					<th>{{ knp_pagination_sortable(pagination, 'TICKET_HEADING_LASTMESSAGE'|trans, 't.messages.last.date') }}{% if pagination.isSorted('t.messages.last.date') %} <i class="triangle down icon"></i> {% endif %}</th>
					<th>{{ knp_pagination_sortable(pagination, 'TICKET_HEADING_PRIORITY'|trans, 't.priority') }}{% if pagination.isSorted('t.priority') %} <i class="triangle down icon"></i> {% endif %}</th>
					<th>{{ knp_pagination_sortable(pagination, 'TICKET_HEADING_ASSIGNED'|trans, 't.assignedTo') }}{% if pagination.isSorted('t.assignedTo') %} <i class="triangle down icon"></i> {% endif %}</th>
					<th>{{ knp_pagination_sortable(pagination, 'TICKET_HEADING_STATUS'|trans, 't.closed') }}{% if pagination.isSorted('t.closed') %} <i class="triangle down icon"></i> {% endif %}</th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in pagination %}
					<tr>
						<td><a href="{{ path('site_ticket_show', { 'id': ticket.id }) }}">{{ ticket.subject }}</a></td>
						<td>{{ ticket.date|localizeddate("short", "medium") }}</td>
						<td>{{ ticket.messages.last.date|localizeddate("short", "medium") }}</td>
						<td>
							{% if ticket.priority == 0 %}
								{{ 'TICKET_PRIORITY_INVALID'|trans }}
							{% elseif ticket.priority == 1 %}
								{{ 'TICKET_PRIORITY_LOW'|trans }}
							{% elseif ticket.priority == 2 %}
								{{ 'TICKET_PRIORITY_MEDIUM'|trans }}
							{% elseif ticket.priority == 3 %}
								{{ 'TICKET_PRIORITY_HIGH'|trans }}
							{% endif %}
						</td>
						<td>{% if ticket.assignedTo is not null %} {{ ticket.assignedTo.username }} {% else %} - {% endif %}</td>
						<td>
							{% if ticket.closed == 0 %}
								{{ 'TICKET_STATUS_OPEN'|trans }}
							{% else %}
								{{ 'TICKET_STATUS_CLOSED'|trans }}
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">{{ 'TICKET_NO_TICKETS'|trans }}.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
			{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}

