{% extends "::layout.html.twig" %}

{% block title %} {{ 'FORUM_HOME'|trans }} - {{ parent() }} {% endblock %}
{% block active_forum 'active' %}
{% block body %}
	<h2 class="ui header">
		<i class="chat icon"></i>
		<div class="content">
			{% block breadcrumb_forum %} <a href="{{ path('site_forum') }}">{{ 'FORUM_HOME'|trans|upper }}</a> {% endblock %}
		</div>
	</h2>
	{% if user is null %}
		<p class="error"> {{ "FORUM_CONNECT"|trans }}</p>
	{% endif %}
	{% block forum_body %}
	{% endblock %}
{% endblock %}
