<h3 class="ui dividing header">
	<i class="file outline icon"></i>
	<div class="content">
		{{ "BLOCK_HEADING_ACTIVITIES"|trans|upper }}
	</div>
</h3>
{% if currentActivities is defined %}
	{% for activity in currentActivities %}
	<div class="ui segment">
			<a href="{{ path('site_activities_activity', { 'id': activity.id }) }}">{{ activity.name }}</a> {{ 'BLOCK_CONTENT_ACTIVITIES_NAME'|trans }}
		<div class="float right" style="opacity:0.4; font-style:italic; padding-right:4px;">
			Rendu le
		{% if date()|date_modify("+1 day") > activity.end %}
			<span class="red">
				{{ activity.end|localizeddate("long", "short") }}
			</span>
		{% elseif date()|date_modify("+2 day") > activity.end %}
			<span class="orange">
				{{ activity.end|localizeddate("long", "short") }}
			</span>
		{% else %}
			{{ activity.end|localizeddate("long", "short") }}
		{% endif %}
	</div>
	</div>
	{% endfor %}
{% else %}
	<p>
		{{ 'BLOCK_CONTENT_ACTIVITIES_NONE'|trans }}
	</p>
{% endif%}
