<h3 class="ui dividing header">
	<i class="pencil icon"></i>
	<div class="content">
		{{ "BLOCK_HEADING_CORRECTIONS"|trans|upper }}
	</div>
</h3>
{% if correctionActivities is defined %}
	{% for activity in correctionActivities %}
		<div class="ui segment">
			<p>
				{% set peers = activity.peers / 2 %}
				<a href="{{ path('site_activities_scale_show', { 'id': activity.id }) }}">{{ activity.name }}</a> {{ 'BLOCK_CONTENT_CORRECTIONS_NAME'|trans({ '%nb_peers%': peers|round }) }}
			</p>
			<p>
				{% for correction in correcting %}
					{% if correction.done == 1 %}
						<i class="green check icon"></i>
					{% else %}
						<i class="red remove icon"></i>
					{% endif %}
					Vous devez corriger <a href="{{ path("site_activities_scale_show", {"id": correction.group.id}) }}">{{ correction.group.name }}</a><br>
				{% endfor %}
			</p>
			<p>
				{% for correction in corrected %}
					{% if correction.done == 1 %}
						<i class="green check icon"></i>
					{% else %}
						<i class="red remove icon"></i>
					{% endif %}
					Vous devez vous faire corriger par {{ correction.rater.username }}<br>
				{% endfor %}
			</p>
		</div>
		{% endfor %}
{% else %}
	<p>
		{{ 'BLOCK_CONTENT_CORRECTIONS_NONE'|trans }}
	</p>
{% endif %}
