{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block logo %}
	<a class="logo" href="{{ url('sonata_admin_dashboard') }}">
		{% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
			{{ admin_pool.title }}
		{% endif %}
	</a>
{% endblock %}

{% block sonata_nav %}
	{% if admin_pool is defined %}
		<nav class="navbar navbar-static-top" role="navigation">
			<div class="navbar-left">
				{% block sonata_breadcrumb %}
					{% if _breadcrumb is not empty or action is defined %}
						<ol class="nav navbar-top-links breadcrumb">
							{% if _breadcrumb is empty %}
								{% if action is defined %}
									{% for menu in admin.breadcrumbs(action) %}
										{% if not loop.last  %}
											<li>
												{% if menu.uri is not empty %}
													<a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
												{% else %}
													{{ menu.label }}
												{% endif %}
											</li>
										{% else %}
											<li class="active"><span>{{ menu.label }}</span></li>
										{% endif %}
									{% endfor %}
								{% endif %}
							{% else %}
								{{ _breadcrumb|raw }}
							{% endif %}
						</ol>
					{% endif %}
				{% endblock sonata_breadcrumb %}
			</div>
			{% block sonata_top_nav_menu %}
				<div class="navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle" href="{{ path('site_intra') }}">
								<i class="fa fa-sign-out fa-fw"></i>
								Retour au site
							</a>
						</li>
					</ul>
				</div>
			{% endblock %}
		</nav>
	{% endif %}
{% endblock sonata_nav %}

{% block side_bar_after_nav %}
{% endblock %}
