<form class="ui form" action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
	{{ form_errors(form.current_password) }}
	<div class="field">
		{{ form_widget(form.current_password) }}
	</div>
	<div class="field">
		{{ form_widget(form.new.first) }}
	</div>
	<div class="field">
		{{ form_widget(form.new.second) }}
	</div>
	<div class="field">
		{{ form_rest(form) }}
	</div>
	<div class="field">
		<input type="submit" class="ui right floated button" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"/>
	</div>
</form>
