{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}
	<div class="row">
		<div class="column">
			<br>
			<h3 class="ui dividing header">
				<i class="lock icon"></i>
				<div class="content">
					{{ 'title_user_edit_authentication'|trans({}, 'SonataUserBundle')|upper }}
				</div>
			</h3>
			<div class="ui form newpost">
					{{ form_errors(form.current_password) }}
				<form class="ui form" action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
				<div class="field">
					{{ form_widget(form.current_password) }}
				</div>
				<div class="field">
					{{ form_widget(form.new.first) }}
				</div>
				<div class="field">
					{{ form_widget(form.new.second) }}
				</div>
				<div class="field">
					{{ form_rest(form) }}
				</div>
				<div class="field">
					<input type="submit" class="ui blue right floated button" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"/>
				</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
