<div style="width:80%;margin:auto;">
	<table class="ui sortable six column table segment">
		<thead>
			<tr>
				<th>{% trans from 'FOSMessageBundle' %}subject{% endtrans %}</th>
				<th>{% trans from 'FOSMessageBundle' %}starter{% endtrans %}</th>
				<th>{% trans from 'FOSMessageBundle' %}startdate{% endtrans %}</th>
				<th>{% trans from 'FOSMessageBundle' %}messages{% endtrans %}</th>
				<th>{% trans from 'FOSMessageBundle' %}last_message{% endtrans %}</th>
				<th>{% trans from 'FOSMessageBundle' %}actions{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for thread in threads %}
				<tr>
					<td>
						{% if not fos_message_is_read(thread) %}
						<i class="exclamation icon red"></i>
						{% endif %}
						<a href="{{ path('fos_message_thread_view', {'threadId': thread.id}) }}">
							{{ thread.subject }}
						</a>
					</td>
					<td>
						<a href="{{ path("sonata_user_profile_show_name", {'user': thread.createdBy.username }) }}">
							{{ thread.createdBy }}
						</a>
					</td>
					<td>{{ thread.createdAt|date }}</td>
					<td>{{ thread.messages|length }}</td>
					<td>
						{% if thread.lastMessage %}
							{% trans with {'%date%': thread.lastMessage.createdAt|localizeddate("short", "short")} from 'FOSMessageBundle' %}on{% endtrans %}
							<br />
							{% trans with {'%sender%': thread.lastMessage.sender|e } from 'FOSMessageBundle' %}by{% endtrans %}
						{% else %}
							----
						{% endif %}
					</td>
					<td>
						{% if fos_message_can_delete_thread(thread) %}
							{% if fos_message_deleted_by_participant(thread) %}
								{% set formAction %}{{ path('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
								{% set submitValue %}<i class="undo icon"></i>{% endset %}
							{% else %}
								{% set formAction %}{{ path('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
								{% set submitValue %}<i class="remove icon"></i>{% endset %}
							{% endif %}
							<form action="{{ formAction }}" method="post">
									<button class="ui icon button" type="submit">{{ submitValue }}</button>
							</form>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6" class="centered">
						{{ 'no_thread'|trans({}, 'FOSMessageBundle') }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
