{% extends "SiteForumBundle::layout.html.twig" %}

{% block forum_body %}
	<h4 class="ui dividing header">
		{% if thread.locked == true %}
			<div style="display:inline-block;"><i class="lock red large icon"></i></div>
		{% endif %}
		{% if thread.pinned == true %}
			<div style="display:inline-block;"><i class="pin blue large icon"></i></div>
		{% endif %}
		{{ thread.title }}
	</h4>
	{% if thread.locked == true %}
		<h4 class="ui error message centered">
			{{ 'FORUM_THREAD_LOCKED'|trans }}
		</h4>
	{% endif %}
	<div class="thread">
		<div class="post">
			<div class="postitem bottombordered">
				{{ thread.content }}
				<br>
				<div class="italic float right">
					{{ 'POST_TITLE'|trans({'%post_author%': thread.author, '%post_date%': thread.date|localizeddate("medium", "medium")}) }}
				</div>
			</div>
		</div>
		{% for post in thread.posts %}
			<div class="post">
				<div class="postitem bottombordered">
					{{ post.content }}
					<br>
					<div class="italic float right">
						{{ 'POST_TITLE'|trans({'%post_author%': post.author, '%post_date%': post.date|localizeddate("medium", "medium")}) }}
						{% if thread.locked != true and post.locked != true %}
							--
							<div class="ui blue tiny button show comment">
								 Commenter
							</div>
						{% elseif post.locked == true %}
							--
							 <div style="display:inline-block;"><i class="lock icon"></i></div>
						{% endif %}
					</div>
				</div>
				{% if post.comments|length != 0 %}
					<div class="comment">
						{% for comment in post.comments %}
							<div class="commentitem italic">
								{{ 'COMMENT'|trans({'%comment_content%': comment.content, '%comment_author%': comment.author, '%comment_date%': comment.date|localizeddate("short", "medium")}) }}
							</div>
						{% endfor %}
					</div>
				{% endif %}
				{% if thread.locked != true and post.locked != true %}
					<form class="form comment hidden" action="" method="POST">
						<input type="hidden" name="postid" value="{{ post.id }}">
						<input class="commentfield" type="text" placeholder="{{ 'FORUM_CONTENT'|trans }}" name="content" required="required">
						<input class="ui blue button" type="submit" value="{{ 'FORUM_SEND'|trans }}" name="comment">
					</form>
				{% endif %}
			</div>
		{% endfor %}
		{% if formpost is not null and thread.locked != true %}
			<div class="form newpost">
				<h3 class="ui header">
					{{ "FORUM_REPLY"|trans }}
				</h3>
				<form class="ui form" action="" method="POST">
				<div class="field">
					{{ form_widget(formpost.content) }}
				</div>
				<div class="field">
					{{ form_rest(formpost) }}
				</div>
				<div class="field">
					<input type="submit" id="_submit" class="ui blue right floated button" name="post" value="{{ 'FORUM_SEND'|trans }}"/>
				</div>
				</form>
			</div>
		{% endif %}
	</div>
{% endblock %}
